/*
 * Responsive CSS 089-Webdesign
 */

@media(width: 320px) {

}

@media(width: 480px) {
	
}

@media(width: 600px) {
	
}

@media(width: 768px) {
	
}

@media(width: 800px) {
	
}

@media(width: 1024px) {
	
}
@media(max-width: 560px) and (orientation: portrait) {
	/*critical*/
	body.phone .nav-kacheln__bottom__inner {
	    padding: 30px 20px;
	}
	body#body.phone .digitale-transformation .item-image {
	    background: url(/images/ipl-beratung-digitale-transformation-phone.jpg) top left no-repeat;
	}	
	body#body.phone .produktionsnetzwerk .item-image {
	    background: url(/images/ipl-beratung-produktionsnetzwerk-phone.jpg) top left no-repeat;
	}
	body#body.phone .fabrikplanung .item-image {
	    background: url(/images/ipl-beratung-fabrikplanung-phone.jpg) top left no-repeat;
	}
	body#body.phone .produktionsplanung .item-image {
	    background: url(/images/ipl-beratung-produktionsplanung-phone.jpg) top left no-repeat;
	}
	body#body.phone .supply .item-image {
	    background: url(/images/ipl-beratung-supply-chain-management-phone.jpg) top left no-repeat;
	}
	body#body.phone .logistikplanung .item-image {
	    background: url(/images/ipl-beratung-wertstroeme-phone.jpg) top left no-repeat;
	}
	body#body.phone .organisationsplanung .item-image {
	    background: url(/images/ipl-beratung-lean-administration-phone.jpg) top left no-repeat;
	}
	body#body.phone .branchenReferenzen .item-image {
	    background: url(/images/ipl-beratung-referenzen-branchen-phone.jpg) top left no-repeat;
	}
	body#body.phone .karriere .item-image {
	    background: url(/images/ipl-beratung-karriere-phone.jpg) top left no-repeat;
	}	
	body#body.phone .downloads .item-image {
	    background: url(/images/ipl-beratung-download-phone.jpg) top left no-repeat;
	}
	body#body.phone .ueberUns .item-image {
	    background: url(/images/ipl-beratung-ueber-uns-phone.jpg) top left no-repeat;
    	/*background-position: 0px -85px;*/	    
	}
	body#body.phone .machenMehr .item-image {
	    background: url(/images/ipl-beratung-wir-machen-mehr-phone.jpg) top left no-repeat;
    	/*background-position: 0px -85px;	*/    
	}
	body#body.phone .kontakt .item-image {
	    background: url(/images/ipl-beratung-logistik-kontakt-phone.jpg) top left no-repeat;
	    background-position: 0px -85px;
	}	
	body#body.site.phone .item-image {
	    background-size: cover;
/*	    background-position: bottom;*/
	    height: calc(100vh - 85px);
	}
	body#body.phone .pull-none.item-image img {
	    display: none;
	}
	body.phone.mobile .pull-none.item-image:before {
	    background: rgba(255,255,255,0.2);
	}	
	body#body.phone .nav-kacheln__item__center:nth-of-type(1) {
	    margin-bottom: 60px;
	}
	body.phone .iplMag-container {
	    display: block;
	    -webkit-box-pack: initial;
	        -ms-flex-pack: initial;
	            justify-content: initial;
	    -webkit-box-align: initial;
	        -ms-flex-align: initial;
	            align-items: initial;
	}
	body.phone .referenzen-container--row {
	    overflow-x: scroll;
	}
	body.phone .referenzen-container--item {
	    min-width: 160px;
	    margin-right: 30px;
	    margin-bottom: 30px;
	}
	body.phone.not_home h1 {
	    font-size: calc(14px + (18 - 14) * ((100vw - 320px) / (414 - 320)));
	}
	body.phone h3.text-bckgr {
	    font-size: calc(10px + (16 - 10) * ((100vw - 320px) / (414 - 320)));
	}
	body.phone .page-header--container {
	    position: absolute; 
	    top: 200px; 
	    left: initial; 
	    padding-left: 20px;
	}
	body#body.phone .item-page.start {
	    background-position: 20% 0%;
	}

}
@media(max-width: 667px) and (orientation: landscape) {
	body#body.phone .referenzen-container--row {
	    overflow-x: scroll;
	}
	body#body.phone .referenzen-container--item {
	    min-width: 160px;
	    margin-right: 30px;
	    margin-bottom: 30px;
	}
}
@media(max-width: 880px) and (orientation: landscape) {
	/*critical*/
	body.phone h3.text-bckgr {
	    font-size: 16px;
	}
	body.phone .startWrapper--content {
	    margin-top: 20vh;
	}
	body.phone h3.branchen-container--header {
	    height: 20px;
	}	
	body.phone .page-header--container {
	    top: 30vh;
	    left: 20px;
	    max-width: 440px;
	}
	body.phone.not_home h1 {
	    font-size: 20px;
	}	
	body#body.phone .item-page.start {
	    background-position: center;
	}
	/*non-critical*/
	body.phone .nav-kacheln__item__center {
	    max-width: 50vw;
	    margin: 0 auto;
	}
	body.phone .nav-kacheln__bottom__content.startFade,
	body.phone .wirMachenMehr {
	    max-width: 80vw;
	    margin: 0 auto;
	}
	body.mobile .nav-kacheln__bottom__img img {
	    width: 100%;
	    height: 100%;
	    object-fit: cover;
	}	
	body.phone .nav-kacheln__bottom__img {
	    max-height: 250px;
	    overflow: hidden;
	}	
}
@media(max-width: 880px) {
	/*critical*/
	body#body.phone .bottom--parallax {
	    background-image: url(/images/ipl-beratung-parallax-start-phone.jpg);
	}	
	body#body.phone.kontakt .below-content {
	    padding: 0px 20px;
	}
/* width */
body.branchenReferenzen.phone ::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

/* Track */
body.branchenReferenzen.phone ::-webkit-scrollbar-track {
    background: #f1f1f1; 
}

/* Handle */
body.branchenReferenzen.phone ::-webkit-scrollbar-thumb {
    background: #aaa700;
    border-radius: 2px; 
}	
	body.phone.branchenReferenzen ul.referenzen-container--list li {
	    font-size: 10px;
	}	
	body#body.phone .branchen-container--item {
	    margin-bottom: 10px;
	}
	body#body.phone .branchen-container--bottom {
	    margin: 30px 0px;
	}
	body#body.phone .branchen-container--row {
	    display: initial;
	    margin-bottom: 0px;
	}
	body.phone .content-static--bckgr {
	    padding: 40px 10px;
	}
	body.phone div.list-bckgr p {
	    padding: 0px 10px;
	}
	body.phone ul.list-bckgr li {
	    margin-bottom: 10px;
	}
	body#body.phone .list-bckgr {
	    padding: 40px 0px 40px 30px;
	    text-indent: 0px;
	}
	body#body.phone .attention-getter p {
	    font-size: 14px;
	}
	body.phone h2.list-header {
	    font-size: 18px;
	}
	body.phone .call {
	    font-size: 18px;
	    padding: 10px 11vw;
	}
	body.phone .item-img--container img {
	    object-fit: cover;
	    width: 100%;
	}
	body.phone .nav-kacheln__item {
	    max-width: 400px;
	    margin: 0 auto;
	    max-height: 260px;
	    overflow: hidden;
	}
	body.phone .nav-kacheln__item,
	body.phone .nav-kacheln__item__center {
	    margin-bottom: 30px;
	}	
	body.phone .nav-collapse.collapse {
	    right: 0px;
	}	
	body.phone a.center--link {
	    width: 300px;
	}
	body.phone a.center--link,
	body.phone a.left--link {
	    font-size: 18px;
	}	
	body.phone .flex.startWrapper {
	    width: 90vw;
	    margin: 0 auto;
	}
	body.phone .startWrapper--content h1 {
	    font-size: 16px;
	}
	body.phone .startWrapper--content img {
	    max-width: 150px;
	}
	body.phone .startWrapper--content {
	    padding: 25px 15px;
	}
	body#body.phone {
		padding: 0px;
	}
	body.phone .item-page.start {
	    background: url(/images/ipl-beratung-startseite-hintergrund-phone.jpg) no-repeat;
	    background-size: cover;
	}	
	/*non-critical*/
	body.phone h2.startFade,
	body.phone h3.startFade,
	body.phone .call p,
	body.phone .list-bckgr.startFade {
	    -webkit-transform: initial;
	        -ms-transform: initial;
	            transform: initial;
	}
	body.phone .nav-kacheln__row.startFade p {
	    -webkit-transform: initial;
	        -ms-transform: initial;
	            transform: initial;
	    opacity: 1;
	}	
}
@media(max-width: 680px) and (orientation: portrait) {
	/*critical*/

	body#body.tablet .input.dsgvo_check {
	    max-width: 400px;
	    margin: 30px auto !important;
	}
	body#body.tablet .page-header--container {
	    top: 90px;
	}
	body.tablet .call {
	    padding: 0px 40px;
	}
	body#body.tablet .wirMachenMehr .item-img--container {
	     max-width: initial; 
	}
	body.tablet .nav-kacheln__item__center {
	    width: 300px;
	    margin: 0 auto 60px;
	    text-align: center;
	}
	body.tablet .nav-kacheln__item {
	    position: relative;
	    width: 320px;
	    margin: 0 auto 30px;
	}
}
@media(max-width: 960px) {
	/*critical*/
	body.tablet {
		padding-left: 0px;
		padding-right: 0px;
	}
}
@media(min-width: 768px) and (max-width: 1366px) {
	/*non-critical*/
	body.tablet .nav-kacheln__item {
	    /*max-width: 95%;*/
	    margin-right: 10px;
	}
	body.tablet .nav-kacheln__row a:nth-child(3) .nav-kacheln__item {
		margin-right: 0px;
	}
	body.mobile .nav-kacheln__row {
		overflow: hidden;
	}	
	body.tablet .nav-kacheln__row {
		margin-bottom: 15px;
	    display: -webkit-box;
	    display: -ms-flexbox;
	    display: flex;
	    -webkit-box-pack: justify;
	        -ms-flex-pack: justify;
	            justify-content: space-between;
	}
}
@media(max-width: 1023px) and (orientation: portrait) {
	body.mobile.branchenReferenzen ul.referenzen-container--list li {
	    font-size: 10px;
	}
	body.mobile .branchen-container--item {
	    margin-bottom: 10px;
	}
	body.mobile .branchen-container--bottom {
	    margin: 30px 0px;
	}
	body#body.mobile .branchen-container--item p {
	    font-size: 12px;
	}
	body.mobile h3.branchen-container--header {
	    height: initial;
	}
	body.mobile .branchen-container--row {
	    display: initial;
	    margin-bottom: 0px;
	}
}
@media(max-width: 1279px) {
	body.desktop nav.navbar-wrapper {
	    width: 100%;
	}
	body.desktop .innerwidth {
	    padding: 0px 20px;
	}
}
@media(max-width: 1280px) {
	body.desktop .page-header--container {
	    position: absolute;
	    top: 200px;
	    left: calc(100vw - 1000px);
	}	
	body.desktop .pull-none.item-image {
		position: relative;
	}	
	body.desktop .pull-none.item-image:before {
	    content: '';
	    position: absolute;
	    width: 100%;
	    height: 100%;
	    top: 0;
	    left: 0;
	    background: rgba(255,255,255,0.3);
	}	
	body.desktop .item-image img {
	    height: initial;
	}
	body#body.site.desktop .item-image {
	    height: 290px;
	}
	body#body.desktop .page-header--container {
	    top: 130px;
	}
}
@media(max-width: 1366px) and (orientation: portrait) {
	/*non-critical*/
	body#body.tablet .startWrapper {
		margin-left: initial;
	}
	body.tablet .startWrapper--content {
	    max-width: 70%;
	    margin: 0 auto;
	}	
	body.tablet .wirMachenMehr .item-img--container {
	    max-width: 180px;
	}
	body.tablet .nav-kacheln.center .nav-kacheln__row>div {
	    -ms-flex-preferred-size: 28%;
	    flex-basis: 28%;
	}	
	body.mobile .nav-kacheln__bottom__img img {
	    width: 100%;
	    height: 100%;
	    object-fit: cover;
	}
	body.tablet .nav-kacheln__bottom__img {
	    max-height: 300px;
	    overflow: hidden;
	}
	body.tablet .nav-kacheln.top h2 {
		font-size: 16px;
	}
}
@media(max-width: 1366px) and (orientation: landscape) {
	/*non-critical*/
	body.tablet.supply .page-header--container {
	    top: 130px;
	}	
	body.tablet .nav-kacheln__bottom__content {
	    display: -webkit-box;
	    display: -ms-flexbox;
	    display: flex;
	}	
}
@media(max-width: 1366px) {
	/*critical*/
	body.mobile .bottom--parallax {
	    height: 310px;
	}
	body.mobile .item-page.impressum,
	body.mobile .item-page.datenschutz {
	    padding: 10px 20px;
	}
	body.mobile .item-page.impressum h2,
	body.mobile .item-page.datenschutz h2 {
	    font-size: 21px;
	}
	body.mobile .item-page.impressum h3,
	body.mobile .item-page.datenschutz h3 {
	    font-size: 18px;
	}
	body#body.mobile .dropdown-menu>.active>a {
	    background: transparent;
	    color: #2d6fc0;
	}	
	body.tablet .content-static--bckgr {
	    padding: 40px 20px;
	}
	body.mobile .branchen-container--bottom {
	    padding: 0px 10px;
	}	
	body.mobile div#wrapper.blackend .page-header--container {
	    z-index: -1;
	}	
	body.mobile div#wrapper.blackend .pull-none.item-image {
	    z-index: -1;
	}	
	body.mobile div#wrapper.blackend .nav-kacheln.top {
	    position: relative;
	    z-index: -1;
	}
	body.mobile div#wrapper {
		position: relative;
		z-index: 0;
	}
	body.mobile div#wrapper:before {
	    content: '';
	    position: absolute;
	    top: 0;
	    left: 0;
	    width: 100%;
	    height: 100%;
	    background: rgba(0, 0, 0, 0);
	    transition: background 0.3s;
	    z-index: -1;
	}
	body.mobile div#wrapper.blackend:before {
	    content: '';
	    position: absolute;
	    top: 0;
	    left: 0;
	    width: 100%;
	    height: 100%;
	    background: rgba(0, 0, 0, 0.6);
	    z-index: 2;
	}	
	body.mobile .nav-collapse .nav>li>a,
	body.mobile .nav-collapse .dropdown-menu a {
	    font-weight: normal;
	}	
	body.tablet .ipl-team--containter div {
	    padding: 40px;
	}	
	body.mobile ol.breadcrumb {
	    background: transparent;
	}	
	body.mobile .list-bckgr {
	    padding: 40px;
	    text-indent: 0px;
	}
	body.mobile .article-Body {
	    padding: 0px 20px;
	}
	body.tablet.not_home h1 {
	    font-size: 24px;
	    /*max-width: 80%;*/
	    text-shadow: -3px 3px 2px #d6d6d6;
	}
	body.mobile.not_home h1 {
	    text-shadow: -3px 3px 2px #d6d6d6;
	}		
	body.tablet .page-header--container {
	    top: 110px;
	    left: 20px;
	}
	body.mobile.not_home .item-page {
	    margin-top: 85px;
	}
	body.mobile .pull-none.item-image {
		position: relative;
	}
	body.mobile .pull-none.item-image:before {
	    content: '';
	    position: absolute;
	    width: 100%;
	    height: 100%;
	    top: 0;
	    left: 0;
	    /*background: rgba(255,255,255,0.8);*/
    	background: linear-gradient(to right, rgba(255,255,255,0.8) 0%,rgba(255,255,255,0.5) 60%,rgba(255,255,255,0) 100%);	    
	}
	body.mobile.supply .pull-none.item-image:before {
		background: linear-gradient(to right, rgba(255,255,255,0.8) 0%,rgba(255,255,255,0.5) 60%,rgba(255,255,255,0.6) 100%);	    
	}	
/*	body.tablet .item-image {
	    height: 250px;
	}	*/
	body.mobile .bottom--parallax {
	    background-attachment: initial; 
	}	
	body.mobile .startseite-nav.wirMachenMehr {
	    padding: 10px 10px;
	}	
	body.mobile .below-content #module_90,
	body.mobile .below-content #module_91 {
	    padding: 0px 30px;
	}
	body.mobile a.brand img {
	    padding: 20px;
	}
	body.mobile .navbar .nav>li>a {
		color: #777;
	}
	body.mobile button.btn.btn-navbar span.icon-bar:nth-of-type(1) {
		background: #aaa700;
	}	
	body.mobile button.btn.btn-navbar span.icon-bar:nth-of-type(2) {
		background: #dd4700;
	}
	body.mobile button.btn.btn-navbar span.icon-bar:nth-of-type(3) {
		background: #2070bc;
	}	
	body.mobile ul.nav-child.dropdown-menu {
	    display: block;
	}
	body.mobile .navbar .nav > li {
	    display: block;
	}
	body#body.mobile .nav-collapse,
	body#body.mobile .nav-collapse.collapse {
	    height: 0!important;
	    overflow: hidden!important;
	    padding: 0 0 80px 20px;
	}
	body.mobile .nav-collapse.collapse {
	    position: absolute;
	    top: 0;
	}
	body.tablet .nav-collapse.collapse {
	    right: -30px;
	    width: 100%;
	}	
	body.mobile .nav-collapse {
	    clear: both;
	}
	body.mobile .nav-collapse ul.nav.menu.nav-pills {
	    background: #fff;
	    width: 100%;
	    top: 60px;
	    -webkit-box-shadow: 0 14px 30px -11px #4a4a4a;
	    box-shadow: 0 14px 30px -11px #4a4a4a;
	    border-radius: 0 0 0 10px;
	    padding: 30px 0 10vh;
	    -webkit-transform: translateX(100%);
	    -ms-transform: translateX(100%);
	    transform: translateX(100%);
	    -webkit-transition: all .5s cubic-bezier(0.2, 1, 0.8, 1);
	    -o-transition: all .5s cubic-bezier(0.2, 1, 0.8, 1);
	    transition: all .5s cubic-bezier(0.2, 1, 0.8, 1);	    
	}
	body.mobile .nav-collapse #module_98.lang-switch {
		position: absolute;
		top: 60px;
		right: 30px;
			-webkit-transform: translateX(200%);
		    -ms-transform: translateX(200%);
		    transform: translateX(200%);
		    -webkit-transition: all .5s cubic-bezier(0.2, 1, 0.8, 1);
		    -o-transition: all .5s cubic-bezier(0.2, 1, 0.8, 1);
		    transition: all .5s cubic-bezier(0.2, 1, 0.8, 1);
	}	
	body#body.mobile .nav-collapse.collapse,
	body#body.mobile .nav-collapse {
	    height: auto!important;
	}
	body.mobile .nav-collapse.openMenu ul.nav.menu.nav-pills,
	body.mobile .nav-collapse.openMenu #module_98.lang-switch {
	    -webkit-transform: translateX(0);
	    -ms-transform: translateX(0);
	    transform: translateX(0);
	    -webkit-transition: all 0.7s cubic-bezier(0.2, 1, 0.8, 1);
	    -o-transition: all 0.7s cubic-bezier(0.2, 1, 0.8, 1);
	    transition: all 0.7s cubic-bezier(0.2, 1, 0.8, 1);
	}
	body.mobile .navbar .nav>li {
	    display: block;
	    float: none;
	}
	body.mobile .navbar .btn-navbar {
	    display: block;
	    position: relative;
	    z-index: 1;
	}
	body.tablet .navbar {
		width: 50%;
	    margin: 0 30px 0 auto;
	}
	body.mobile .navbar-wrapper {
		width: 100%;
		box-shadow: 0px 1px 30px -10px #8a8a8a;
/*	    -ms-flex-preferred-size: 75%;
	    flex-basis: 75%;*/
	}
	body.mobile ul.nav-child.dropdown-menu {
	    display: block;
	}
	body#body.mobile ul.nav-child.dropdown-menu {
	    background: transparent;
	    position: initial;
	    float: none;
	    box-shadow: none;
	    border: none;
	}
	body#body.mobile .dropdown-menu:before,
	body#body.mobile .navbar .nav>li>.dropdown-menu:after {
		content: initial;
		display: none !important;
	}
	body#body.mobile .navbar .nav li.dropdown>.dropdown-toggle .caret {
		display: none;
	}
	body#body.mobile ul.nav-child.dropdown-menu li a {
	    padding: 10px 30px;
	}
}
@media(max-width: 1680px) {
	body#body.desktop .item-image {
	    height: 330px;
	}
}
@media(min-width: 1921px) {
	.item-image img {
	    object-fit: cover;
	    width: 100%;
	    height: 100%;
	}
}
/*specials*/
@media(max-width: 1023px) {
	body#body.desktop div#wrapper {
		-webkit-filter: blur(10px);
		        filter: blur(10px);
	}
	body.desktop #resizeAlarm {
		display: block;
	}	
}
@media(min-width: 1024px) {
	body.desktop #resizeAlarm {
		display: none !important;
	}
}