/*
 * Overrides CSS
 */
@font-face {
    font-family: 'montserratbold';
    src: url('/templates/089-standard/fonts/montserrat-bold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'montserratregular';
    src: url('/templates/089-standard/fonts/montserrat-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

/*Resp overrides*/


@media (min-width: 1280px) {
  
  .fullwidth {
      width: 100%;
  }

  .innerwidth {
      width: 1000px;
      margin: 0px auto;
  }
}


/* critical CSS */

img[alt=""],
img:not([alt]) {
      border: 5px dashed #c00;

}
:root {
  --ocker-color: #aaa700; 
  --red-color: #dd4800;
  --blue-color: #2070bc;
}
a {
    transition: all .3s ease-in-out;
}
button.btn-navbar:active {
outline: none;
border: none;
}
button.btn-navbar:focus {outline:0;}

.flex {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
.space-between {
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
body {
    font-family: 'montserratregular';
    animation:fadein .5s ease-in-out ;
      -webkit-animation:fadein .5s ease-in-out; 
}
    @-webkit-keyframes fadein 
    { from {opacity:0} to {opacity:1} }
    @keyframes fadein 
    { from {opacity:0} to {opacity:1} }

.clr {
    clear: both;
}
.navbar-wrapper .vcard {
    display: none;
}
body#body .center {
    text-align: initial;
}
body.desktop:not(.start) p,
body.desktop:not(.start) ul li {
    font-size: 14px;
}

/*preLoader*/
#preload-Container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    z-index: 3;
    background: #fff;    
}
.preLoader {
    height: 100px; 
    display: block;
    position: relative;
    -webkit-perspective: 120px;
            perspective: 120px;
}
#preload-Container .corp-square__green {
    -webkit-animation: preLoadAni 2s ease-in-out 0.1s infinite;
            animation: preLoadAni 2s ease-in-out 0.1s infinite;
}
#preload-Container .corp-square__red {
    -webkit-animation: preLoadAni 2s ease-in-out 0.3s infinite;
            animation: preLoadAni 2s ease-in-out 0.3s infinite;
}
#preload-Container .corp-square__blue {
    -webkit-animation: preLoadAni 2s ease-in-out 0.4s infinite;
            animation: preLoadAni 2s ease-in-out 0.4s infinite;
}
#preload-Container .corp-square p {
    padding: 5px 28px;
    color: #fff;
    font-size: 18px;
}
#preload-Container .corp-square {
    width: initial;
    height: initial;
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    display: inline-block;
    border-radius: 0px;
}
.preLoader p.string {
    font-size: 16px;
    text-align: center;
    color: #9e9e9e;
    text-transform: uppercase;
    letter-spacing: 16px;
    opacity: 0;
    width: 100%;
    -webkit-animation: colorFade 2s infinite 0.3s;
            animation: colorFade 2s infinite 0.3s;
}
@-webkit-keyframes preLoadAni {
    0% { opacity: 1; -webkit-transform: scale(1); transform: scale(1);}
    50% { opacity: 0; -webkit-transform: scale(0); transform: scale(0); }
    70% { opacity: 0.5; -webkit-transform: scale(0.8); transform: scale(0.8); }
    80% { -webkit-transform: rotateY(360deg); transform: rotateY(360deg);}
}
@keyframes preLoadAni {
    0% { opacity: 1; -webkit-transform: scale(1); transform: scale(1);}
    50% { opacity: 0; -webkit-transform: scale(0); transform: scale(0); }
    70% { opacity: 0.5; -webkit-transform: scale(0.8); transform: scale(0.8); }
    80% { -webkit-transform: rotateY(360deg); transform: rotateY(360deg);}
}
@-webkit-keyframes colorFade {
  0% { opacity: 0.1;}
  50% { opacity: 1;}
  100% { opacity: 0.1;}
}
@keyframes colorFade {
  0% { opacity: 0.1;}
  50% { opacity: 1;}
  100% { opacity: 0.1;}
}
/*<--- END preLoader*/

body.desktop .nav-collapse.collapse {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}


/*content*/

body:not(.start) h1 {
    font-size: 32px;
    text-transform: uppercase;
}
body.desktop.machenMehr .page-header--container,
body.desktop.branchenReferenzen .page-header--container,
body.desktop.karriere .page-header--container,
body.desktop.downloads .page-header--container {
    top: 200px;
}
.page-header--container {
    position: absolute;
    top: 200px;
    left: calc((100vw - 1000px) / 2);
}
body.desktop.ueberUns .page-header--container {
    left: calc((100vw - 1000px) / 2 - 10px);
}
body.desktop.not_home .item-page,
body.desktop.not_home .category-list {
    margin-top: 85px;
}
body.desktop .item-image {
    height: 406px;
}
.item-image img {
    width: 100%;
    /*height: 100%;*/
}
/*body.desktop .item-image img {
    -o-object-fit: cover;
       object-fit: cover;
}*/
body#body .page-header {
    border-bottom: none;
}
.startWrapper--content img {
    max-width: 260px;
}
    .startWrapper--content h1 {
        letter-spacing: 0.25em;
        line-height: 1.4em;
    }
    .startWrapper--content h2,
    .startseite-nav h3,
    body#body .attention-getter p,
    h2.list-header {
        letter-spacing: 0.2em;
        line-height: 1.5em;
    }
    .startseite-nav h2,
    .nav-kacheln.top h2,
    .nav-kacheln__bottom__inner h3,
    .nav-kacheln__item__center h2,
    a.center--link,
    a.left--link,
    .call,
    body.not_home h1,
    h3.list-header__small {
        letter-spacing: 0.15em;
        line-height: 1.6em;  
    }
    .nav-kacheln__bottom__inner p,
    .nav-kacheln__item__center p,
    body p,
    .not_home ul li {
        letter-spacing: 0.1em;
        line-height: 2.0em;  
    }
ul.nav.menu li {
    letter-spacing: initial;
    line-height: initial;
}
.nav-kacheln__item__center p {
    max-width: 290px;
}
.startseite-nav .nav-kacheln__item__center h2 {
    font-size: 16px;
    margin: 20px 0px 10px;
}    
.no-style {
    color: initial;
}    
.nav-kacheln__bottom__inner p,
.nav-kacheln__item__center p {
    color: #818181;
}    
.nav-kacheln__bottom__content .nav-kacheln__bottom__inner h3 {
    font-size: 14px;
}
.nav-kacheln.top h2 {
    font-size: 22px;
    padding: 0px 0px 0px 40px;
}    
.startseite-nav h3 {
    font-size: 20px;
    text-transform: uppercase;
    margin-bottom: 30px;    
}      
.startseite-nav h2 {
    margin: 50px 0px;
    font-size: 24px;
    text-transform: uppercase;    
}    
.startWrapper--content h2 {
    font-size: 12px;
    color: #818181;
    text-transform: uppercase;
}
.startWrapper--content h1 {
    text-transform: uppercase;
    font-size: 24px;
    color: #2a2a2a;
}
.startWrapper--content {
    background: rgba(255,255,255, 0.8);
    padding: 45px 60px;
    border-radius: 3px;
}
body.desktop .startWrapper--content {
    padding: 55px 60px 45px;
    margin-top: 40px;
    position: relative;
}
.startWrapper {
    height: 100vh;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: 10%;
}
body.desktop .startWrapper {
    margin-left: 250px;
}
.item-page.start {
    height: 100vh;
}
body.desktop .item-page.start,
body.tablet .item-page.start {
    background: url('/images/ipl-beratung-startseite-hintergrund.jpg') top left no-repeat;
    background-size: cover;
}
.iplMag-container div:last-child {
    -ms-flex-preferred-size: 30%;
        flex-basis: 30%;
}
.iplMag-container div:first-child {
    -ms-flex-preferred-size: 60%;
        flex-basis: 60%;
}
.iplMag-container-text a {
    font-size: 16px;
    color: #000;
    text-decoration: underline;
}
.iplMag-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.download-links a {
    display: block;
    margin: 30px 0px;
}
body.downloads .article-Body h3 {
    font-size: 16px;
}
body.downloads .text-bckgr {
    margin: 0;
    padding: 40px 0px;
}
body.desktop.karriere .article-Body p {
    font-size: 16px;
    margin-bottom: 25px;
}
h3.text-bckgr {
    padding-left: 10px;
    text-transform: uppercase;
    font-size: 22px;
}
h3.text-bckgr,
body.desktop.karriere .article-Body p,
body.downloads .article-Body h3,
.iplMag-container-text a {
    letter-spacing: 0.15em;
    line-height: 1.6em;
}
li.item-112.parent>a:hover {
    cursor: text !important;
}
body.desktop .ipl-team--containter div {
    padding: 40px;
}
.ipl-team-desc h2 {
    font-size: 16px;
}
.item-page.ueberUns .article-Body .innerwidth>h2,
.item-page.branchenReferenzen .article-Body .innerwidth>h2 {
    font-size: 18px;
}
.item-page.ueberUns .article-Body .innerwidth>h2,
.ipl-team-desc h2,
.item-page.branchenReferenzen .article-Body .innerwidth>h2 {
    letter-spacing: 0.15em;
    line-height: 1.6em;
    text-transform: uppercase;
}
.content-static--bckgr {
    background: #f8f8f8;
    padding: 40px 0px;
}
body.desktop.logistikplanung .page-header h1 {
    width: 600px;
}
body.desktop.organisationsplanung .page-header h1 {
    width: 780px;
}
h2.list-header {
    font-size: 26px;
    text-transform: uppercase;
}
h3.list-header__small {
    font-size: 16px;
    margin: 40px 0px;
}
h3.link-hint,
.link--img.link--img__single {
    text-align: center;
}
h3.link-hint {
    font-size: 18px;
    letter-spacing: 0.2em;
    line-height: 1.5em;
    text-transform: uppercase;
    margin-bottom: 40px;
}
.link--img.link--img__single {
    margin-bottom: 80px;
}
.link--img.link--img__single img,
.link--img.link--img__triple img {
    width: 160px;
}
.link--img.link--img__triple,
.link--img.link--img__duo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%;
    margin-bottom: 80px;
}
body.machenMehr a.left--link {
    font-size: 18px;
}
ul.list-bckgr {
    text-indent: 5px;
}
div.list-bckgr p {
    padding-left: 20px;
}
/*.list-bckgr {
    list-style-type: none;
}*/ 
body.desktop .text-bckgr {
    width: 100%;
}
ul.list-bckgr {
    list-style-type: square;
}
.list-bckgr,
.text-bckgr {
    background: #f8f8f8;
    padding: 40px;
    margin: 30px 0px;
    border-radius: 3px;
}
.corp-square__green {
    background: #afac0f;
}
.corp-square__red {
    background: #dd4700;
}
.corp-square__blue {
    background: #2070bc;
}
.corp-square {
    width: 30px;
    height: 30px;
    margin: 20px 0px;
    border-radius: 0px;
}
body#body .attention-getter p {
    text-transform: uppercase;
    font-size: 16px;
}
.breadcrumb>li {
    text-shadow: none;
    color: #777;
}
ol.breadcrumb a {
    color: #b1b1b1;
}
ol.breadcrumb {
    font-size: 10px;
    padding: 5px;
    opacity: 1;
    background: #f9f9f9;
}
body.desktop.machenMehr .pull-none.item-image:before,
body.desktop.ueberUns .pull-none.item-image:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.5);
}
body.desktop.machenMehr .pull-none.item-image,
body.desktop.ueberUns .pull-none.item-image {
    position: relative;
}
/*<--- END content*/

/*Menue*/
body.desktop ul.nav li {
    font-size: 12px;
}
body#body .navbar .nav>li>a:focus,
body#body .navbar .nav>li>a:hover {
    color: #2070bc;
}
body#body .dropdown-menu>li>a {
    padding: 10px 20px;
}
body.desktop .navbar .nav>li>.dropdown-menu:before {
    border-bottom-color: #fff;
}
body.desktop ul.nav-child.dropdown-menu {
    border: none;
    border-radius: 3px;
    box-shadow: 0px 6px 30px -15px #444;
}
nav.navbar-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    background: #fff;
    z-index: 2;    
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 85px;
    -webkit-transition: height 0.3s cubic-bezier(0.2, 1, 0.8, 1);
    -o-transition: height 0.3s cubic-bezier(0.2, 1, 0.8, 1);
    transition: height 0.3s cubic-bezier(0.2, 1, 0.8, 1);
    will-change: height;
}
body.desktop nav.navbar-wrapper.sticky {
    position: fixed;
    height: 65px;
    -webkit-transition: height 0.5s cubic-bezier(0.2, 1, 0.8, 1);
    -o-transition: height 0.5s cubic-bezier(0.2, 1, 0.8, 1);
    transition: height 0.5s cubic-bezier(0.2, 1, 0.8, 1);
    -webkit-animation: menuSlide 1s cubic-bezier(0.2, 1, 0.8, 1) forwards;
            animation: menuSlide 1s cubic-bezier(0.2, 1, 0.8, 1) forwards;
}
body.desktop nav.navbar-wrapper .navbar {
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1);
    -webkit-transition: all 0.3s cubic-bezier(0.2, 1, 0.8, 1);
    -o-transition: all 0.3s cubic-bezier(0.2, 1, 0.8, 1);
    transition: all 0.3s cubic-bezier(0.2, 1, 0.8, 1);
}
body.desktop nav.navbar-wrapper.sticky .navbar {
    -webkit-transform: scale(0.9);
        -ms-transform: scale(0.9);
            transform: scale(0.9);
    -webkit-transition: all 0.5s cubic-bezier(0.2, 1, 0.8, 1);
    -o-transition: all 0.5s cubic-bezier(0.2, 1, 0.8, 1);
    transition: all 0.5s cubic-bezier(0.2, 1, 0.8, 1);

}
body.desktop nav.is_home .navbar-wrapper {
    -webkit-box-shadow: 0px 2px 30px -10px transparent;
            box-shadow: 0px 2px 30px -10px transparent;
}
body.desktop nav.navbar-wrapper.sticky,
body.desktop.not_home nav.navbar-wrapper {
    -webkit-box-shadow: 0px 2px 30px -10px #444;
            box-shadow: 0px 2px 30px -10px #444;
}
@-webkit-keyframes menuSlide {
    from{ -webkit-transform: translateY(-50px); transform: translateY(-50px); opacity: 0;}
    to{ -webkit-transform: translateY(0px); transform: translateY(0px); opacity: 0.9;}
}
@keyframes menuSlide {
    from{ -webkit-transform: translateY(-50px); transform: translateY(-50px); opacity: 0;}
    to{ -webkit-transform: translateY(0px); transform: translateY(0px); opacity: 0.9;}
}
body.start.de-de .logo--small img,
body.start.en-gb .logo--small img {
    display: none;
}
body.is_home nav.navbar-wrapper.sticky .logo--small img {
    display: block;
}
body.desktop .logo--small {
    padding-left: 60px;
}
body.desktop .navbar--inner {
    padding-right: 60px;
}
.navbar .nav > li {
  display: inline-block;
}
nav.navbar-wrapper.innerwidth {
    margin: 0 auto;
}
.navbar {
    margin: 0px;
    padding: 0;
    position: relative;
    z-index: 999;
}
body.site .dropdown-menu {
    padding: 0px;
}
body.mobile button.btn.btn-navbar span.icon-bar:nth-of-type(2) {
    opacity: 1;
}
body.mobile button.btn.btn-navbar span.icon-bar:nth-of-type(3),
body.mobile button.btn.btn-navbar span.icon-bar:nth-of-type(1) {
    -webkit-transform: translateY(0px) translateX(0) rotate(0deg);
    -ms-transform: translateY(0px) translateX(0) rotate(0deg);
    transform: translateY(0px) translateX(0) rotate(0deg);
} 
body.mobile button.btn.btn-navbar.btn-modify span.icon-bar:nth-of-type(2) {
    opacity: 0;
    -webkit-transition: -webkit-transform .5s ease-in-out;
    transition: -webkit-transform .5s ease-in-out;
    -o-transition: transform .5s ease-in-out;
    transition: transform .5s ease-in-out;
    transition: transform .5s ease-in-out, -webkit-transform .5s ease-in-out;
}
body.mobile button.btn.btn-navbar.btn-modify span.icon-bar:nth-of-type(1) {
    -webkit-transform: translateY(8px) translateX(0) rotate(35deg);
    -ms-transform: translateY(8px) translateX(0) rotate(35deg);
    transform: translateY(8px) translateX(0) rotate(35deg);
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
body.mobile button.btn.btn-navbar.btn-modify span.icon-bar:nth-of-type(3) {
    -webkit-transform: translateY(-8px) translateX(0) rotate(-35deg);
    -ms-transform: translateY(-8px) translateX(0) rotate(-35deg);
    transform: translateY(-8px) translateX(0) rotate(-35deg);
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
} 
body#body .btn-navbar .icon-bar+.icon-bar {
    margin-top: 4px;
}
body#body .navbar .btn-navbar .icon-bar {
    width: 40px;
    height: 4px;
    box-shadow: none;
}
body#body button.btn.btn-navbar {
    text-shadow: none;
    background-image: none;
    background: transparent;
    border: none;
    box-shadow: none;
}
  /*hover / current active states*/
body#body .dropdown-menu>li>a:hover,
body#body .dropdown-menu>li>a:focus,
body#body .dropdown-submenu:hover>a,
body#body .dropdown-submenu:focus>a {
    color: #fff;
    text-decoration: none;
    background-color: #307ec3;
    background-image: none;
    filter: none;
}
body#body .dropdown-menu>.active>a,
body#body .dropdown-menu>.active>a:hover,
body#body .dropdown-menu>.active>a:focus {
    color: #fff;
    text-decoration: none;
    background-color: #307ec3;
    background-image: none;
    filter: none;
}
body#body .navbar .nav>li>.dropdown-menu:after { /*submenue triangle in hoverfarbe*/
    border-bottom: 6px solid transparent;
}
    /*<--END hover / current active states*/

body#body .navbar .nav>.active>a,
body#body .navbar .nav>.active>a:hover,
body#body .navbar .nav>.active>a:focus {
    color: var(--blue-color);
    text-decoration: none;
    background-color: transparent;
    box-shadow: none;
}
 /* Activates hovering the main items to show the sub items */
@media (min-width: 980px) {
   .nav-pills > li > a,
   .dropdown-menu {
      margin: 0;
   }
 
   .nav-pills > li.dropdown:hover ul.dropdown-menu,
   .nav-tabs > li.dropdown:hover ul.dropdown-menu {
      display: block;
   }
 
   .nav-pills > li.dropdown ul.dropdown-menu .dropdown-submenu .dropdown-menu,
   .nav-tabs > li.dropdown ul.dropdown-menu .dropdown-submenu .dropdown-menu {
      display: none;
   }
 
   .nav-pills > li.dropdown ul.dropdown-menu .dropdown-submenu:hover .dropdown-menu,
   .nav-tabs > li.dropdown ul.dropdown-menu .dropdown-submenu:hover .dropdown-menu {
      display: block;
   }
}

/* Submenus below each other */
@media (max-width: 733px) {
   .dropdown,
   .dropdown-submenu {
      display: block;
      position: static;
      float: none;
   }
   .dropdown-menu {
      position: static;
      float: none;
   }
   .open .nav-child.dropdown-menu {
      display: block;
      background-color: transparent;
      border: none;
      border-radius: 0;
      box-shadow:none;
   }
}


/* non-critical CSS */
h2.startFade,
h3.startFade,
.call p,
body.desktop .list-bckgr.startFade,
body.desktop.machenMehr div.startFade {
/*    -webkit-transform: translateX(-80px);
        -ms-transform: translateX(-80px);
            transform: translateX(-80px);*/
}
h2.startFade.add-Ani,
h3.startFade.add-Ani,
.call.add-Ani p,
body.desktop .list-bckgr.startFade.add-Ani,
body.desktop.machenMehr div.startFade.add-Ani {
/*    -webkit-animation: leftSlide 2s cubic-bezier(0.2, 1, 0.8, 1) 0.1s forwards;
            animation: leftSlide 2s cubic-bezier(0.2, 1, 0.8, 1) 0.1s forwards;*/
}
.call.add-Ani p:nth-of-type(3),
h3.startFade.add-Ani {
    -webkit-animation-delay: 0.3s;
            animation-delay: 0.3s;
}

/*@-webkit-keyframes leftSlide {
    from { -webkit-transform: translateX(-80px); transform: translateX(-80px);}
    to { -webkit-transform: translateX(0px); transform: translateX(0px);}
}

@keyframes leftSlide {
    from { -webkit-transform: translateX(-80px); transform: translateX(-80px);}
    to { -webkit-transform: translateX(0px); transform: translateX(0px);}
}*/
.nav-kacheln__row.startFade p {
/*    -webkit-transform: translateY(80px);
        -ms-transform: translateY(80px);
            transform: translateY(80px);
    opacity: 0;*/
}
.nav-kacheln__row.startFade.add-Ani p {
/*    -webkit-animation: bottomSlide 2s cubic-bezier(0.2, 1, 0.8, 1) 0.3s forwards;
            animation: bottomSlide 2s cubic-bezier(0.2, 1, 0.8, 1) 0.3s forwards;*/
}
/*@-webkit-keyframes bottomSlide {
    from{ -webkit-transform: translateY(80px); transform: translateY(80px); opacity: 0;}
    to{ -webkit-transform: translateY(0px); transform: translateY(0px); opacity: 1;}
}
@keyframes bottomSlide {
    from{ -webkit-transform: translateY(80px); transform: translateY(80px); opacity: 0;}
    to{ -webkit-transform: translateY(0px); transform: translateY(0px); opacity: 1;}
}*/
body.branchenReferenzen ul.referenzen-container--list li {
    font-size: 12px;
}
.referenzen-container--row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
ul.referenzen-container--list {
    list-style-type: none;
    margin: 0px;
}
body.branchenReferenzen h3.list-header__small {
    font-size: 16px;
    letter-spacing: 0.2em;
    line-height: 1.5em;
}
.item-page.branchenReferenzen .article-Body .innerwidth h2.list-header {
    font-size: 24px;
}
.innerwidth.referenzen-container {
    margin: 50px auto;
}
.branchen-container--row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 30px;
}
.branchen-container--item {
    -ms-flex-preferred-size: 22%;
        flex-basis: 22%;
    background: #f0f0f0;
    padding: 15px 10px;
}
h3.branchen-container--header {
    font-size: 16px;
    letter-spacing: 0.15em;
    line-height: 1.6em;
    text-transform: uppercase;
    height: 50px;
    margin: 20px 0px 20px;
}
body#body .branchen-container--item p {
    /*letter-spacing: 0.35em;*/
    font-size: 12px;
    line-height: 1.4em;
}
.branchen-container--bottom h2 {
    font-size: 22px;
}
.update--content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%;
}
.call p {
    line-height: 1.6em;    
}
.call {
    color: #fff;
    position: relative;
    z-index: 1;
    font-size: 21px;
    max-width: 600px;
}
.bottom--parallax {
    background-image: url('/images/ipl-beratung-parallax-start.jpg');
    height: 510px;
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.bottom--parallax:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.45);
}
a.center--link {
    margin: 50px auto 30px;
    width: 380px;
    text-transform: uppercase;
}
a.center--link,
a.left--link {
    font-size: 23px;
    display: block;
    color: #000;
    text-decoration: underline;
}
body.desktop a.left--link {
    margin-left: 60px;
}
.nav-kacheln.center .nav-kacheln__row>div {
    -ms-flex-preferred-size: 33%;
        flex-basis: 33%;
}
.startseite-nav.wirMachenMehr {
    background: #f8f8f8;
    padding: 10px 0px;
}
body.desktop a.ipl-btn,
body.desktop .nav-kacheln__item {
    box-shadow: 0px 12px 40px -10px transparent;
}
body.desktop a.ipl-btn:hover,
body.desktop .nav-kacheln__item:hover {
    box-shadow: 0px 12px 40px -10px #b3b3b3;
}
body.desktop .nav-kacheln__item {
    transition: all 0.3s ease-in-out;
}
a.ipl-btn:hover {
  background: #f8f8f8;
  color: #000;
  border-color: #b7b7b7;
}
a.ipl-btn {
    background: #000;
    text-decoration: none;
    color: #fff;
    padding: 20px 30px;
    border-radius: 2px;
    border: 1px solid transparent;
}
.nav-kacheln__bottom__inner {
    padding: 50px;
}
.nav-kacheln__bottom__text {
    background: #f8f8f8;
}
.nav-kacheln__bottom__content>div {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
}
.nav-kacheln__bottom {
    margin: 60px 0px;
}
body.desktop .item-img--container img {
    transform: scale(1);
    transition: all 1s ease-in-out;
}
body.desktop .nav-kacheln__item:hover .item-img--container img {
    transform: scale(1.2);
    transition: all 3s ease-in-out;    
}
.item-img--container {
    overflow: hidden;
}
.nav-kacheln__item .item-img--container:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    z-index: 1;
    transition: background 0.3s ease-in-out;
}
body.desktop .nav-kacheln__item:hover .item-img--container:before {
    background: rgba(0, 0, 0, 0.3); 
}
body.desktop .nav-kacheln__item:hover h2 {
    text-shadow:0px 14px 5px rgba(128, 128, 128, 0.7);
}
body.desktop .nav-kacheln__item h2 {
    text-shadow: 0px 0px 10px transparent;
    transition: text-shadow 0.5s ease-in-out 0.5s;
}
.nav-kacheln__item h2 {
    color: #fff;
    position: absolute;
    top: 5%;
    z-index: 1;
}
body.desktop .nav-kacheln__row {
    min-height: 260px;
    margin-bottom: 30px;
}
.nav-kacheln__item {
    position: relative;
}
body.desktop .nav-kacheln__bottom__content,
body.desktop .nav-kacheln__row,
body.desktop .ipl-team--containter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
body.desktop .nav-kacheln__row,
body.desktop .ipl-team--containter {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.ipl-team-desc {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
}
.ipl-team-desc h2 {
    margin-top: 0px;
}
.ipl-team--containter {
    margin-bottom: 60px;
}
/*footer*/
p.date--company {
    padding: 20px;
    color: #989898;
}
div#copyright {
    margin: 60px 0px 10px;
}
a.imprLink {
    color: #989898;
}
body#body p.email--footer a,
a.email--content {
    color: #333;
}
body#body p.email--footer,
p.addr--footer {
    text-transform: initial;
    font-size: 14px;
}
p.phone--footer {
    width: 300px;
    margin: 10px auto 30px;
    border-bottom: 1px dashed #000;
    padding-bottom: 20px;
}
.footer--text {
    font-size: 18px;
    text-transform: uppercase;
    margin: 30px 0px 50px;
}
body.site p.footer--text__request {
    font-size: 18px;
}
.copyWrapper {
    text-align: center;
}

/*resize Alarm*/
body.desktop #resizeAlarm {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    text-align: center;
    z-index: 999;
}
body.desktop #resizeAlarm p {
    line-height: 80px;
    color: #fff;
    font-size: 21px;
    text-shadow: 2px 2px 3px #333333;
    -webkit-transform: translate(0%,50%);
        -ms-transform: translate(0%,50%);
            transform: translate(0%,50%);
}

/*cookie control*/
body#body #cookiesck {
    box-shadow:  0px -11px 40px -5px rgba(0, 0, 0, 0.4);
}
body#body #cookiesck .cookiesck_inner a,
a.cookieImp {
    color: #fff;
    text-decoration: underline;
/*    font-size: 16px;*/
}
body#body #cookiesck_accept {
    background: #fff;
    color: #333;
    float: none;
    width: 90px;
    margin: 20px auto 10px !important;
    border: 1px solid #333;
}
body#body #cookiesck_readmore {
    margin: 1px 0px 1px 1px;
    color: #fff;
    float: none;
    text-decoration: underline;
    padding: 0px;
}
body#body #cookiesck {
    padding: 5px 10px 5px;
/*    font-size: 16px;*/
}
body#body #cookiesck_readmore:hover,
body#body a.cookieImp:hover {
    color: #e74610;
    background: transparent;
}
body#body #cookiesck .cookiesck_inner,
a.cookieImp {
    display: initial;
    line-height: 20px;
}
body#body #cookiesck_accept:hover {
    font-size: initial;
    background: #333;
    color: #fff;
    border-color: #fff;
}
@media(max-width: 1366px) {
  body#body.site div#cookiesck span,
  body#body.site div#cookiesck a,
  body#body.site div#cookiesck p {
      font-size: 12px !important;
  }
  body#body.site #cookiesck_readmore {
      padding: 0px !important;
  }
  body#body.site #cookiesck_accept {
      float: none !important;
      margin: 10px auto !important;
  }
  body#body.site #cookiesck {
      line-height: 25px !important;
  }
}
@media(max-width: 1366px) {
    body#body.mobile #cookiesck_accept {
      width: 90px;
    }
    body#body.mobile #cookiesck_accept {
        padding: 7px 10px;
    }  
}

a.cookieImp,
body#body #cookiesck_readmore {
    text-decoration: underline;
    text-shadow: 0px 3px 5px #525252;
    color: #fff;
}
a.cookieImp:hover,
body#body #cookiesck_readmore:hover {
    color: #e74610;
    text-shadow:none;
}